@model IEnumerable<PressAgency.Models.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/DashBoard css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DashBoard css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DashBoard css/framework.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DashBoard css/DashBoardStyles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navb">
        <div class="container">
            <nav class="row justify-content-between">

                <section class="col-8">
                    <span class="white-txt">PressAgency</span>
                </section>
                <section class="col-4 text-right grey-txt" id="right-side">
                    <i class="fas fa-bars"></i>
                    <span>Menu</span>
                </section>
            </nav>
            <section id="nav-bar" class="white-txt">
                <div id="exit"><i class="fas fa-times"></i></div>
                <ul>
                    <li class="grey-txt"><a href="@Url.Action("Show_profile", "Admins")">Profile</a></li>
                    <li class="grey-txt"><a href="@Url.Action("Show_users", "Admins")">User's Page</a></li>
                    <li class="grey-txt"><a href="@Url.Action("Show_posts", "Admins")">Posts Page</a></li>
                    <li class="grey-txt"><a href="@Url.Action("Show_requests", "Admins")">Posts Requests</a></li>
                    <li class="grey-txt"><a href="@Url.Action("SignOut", "Accounts")">Log Out</a></li>
                </ul>
            </section>
        </div>
    </div>


    <div class="content container">
        <p>
            @Html.ActionLink("Create New", "Create_users", new { @class = "btn btn-dark" })
        </p>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.photo)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Role.RoleName)
                    </th>

                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.photo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.RoleName)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details_users", new { id = item.id }, new { @class = "btn btn-dark" })
                        @Html.ActionLink("Delete", "Delete_users", new { id = item.id }, new { @class = "btn btn-dark" })
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>PressAgency</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                    <div class="col item social"><a href="#"><i class="fab fa-facebook-square"></i></a><a href="#"><i class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-google"></i></a><a href="#"><i class="fab fa-youtube"></i></a></div>
                </div>
                <p class="copyright">PressAgency © 2021</p>
            </div>
        </footer>
    </div>
















    <script src="~/Scripts/DashBoard js/jquery.js"></script>
    <script src="~/Scripts/DashBoard js/popper.js"></script>
    <script src="~/Scripts/DashBoard js/bootstrap.min.js"></script>
    <script src="~/Scripts/DashBoard js/all.min.js"></script>
    <script src="~/Scripts/DashBoard js/custom.js"></script>
</body>
</html>





